<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DadJokes</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container">
        <main role="main">
            <nav>
                <a href="/randomjoke">Get a random joke</a>
                <a href="/jokesearch">Search for a joke</a>
            </nav>
            <section class="content">
                @RenderBody()
            </section>
        </main>
    </div>

    <script src="~/js/site.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

